// NEWSLETTER

.newsletter{
    .newsletter-bg{
        margin-bottom: -100px;
        padding: 80px 100px;
        background: $theme-orange;
        border-radius: 5px;
        position: relative;
        z-index: 2;
        overflow: hidden;

        .newletter-items{
            .shape-1{
                position: absolute;
                left: 100px;
                top: -60px;
            }
            .shape-2 {
                position: absolute;
                right: 108px;
                bottom: -60px;
            }
            h2{
                font-size: 60px;
                line-height: 1.08;
                color: $theme-white;
            }
            .theme-btn{
                background: $theme-gray-200;
                color: $theme-white;

                &:hover{
                    background-color: $theme-white;
                    color: $theme-orange!important;
                }
            }
        }
    }
}