
// SUPPORT

.support{
    margin: 120px 0;

    .support-item{
        margin-left: 30px;

        h2{
            color: $theme-gray-200;
            font-size: 55px;
            margin-bottom: 45px;
            
            span{
                color: $theme-orange;
            }
        }
        .accordian-item{
            margin-bottom: 30px;
            border: 1px solid $theme-gray-100;
            padding: 15px;

            h3{
                padding: 7px;
                font-size: 20px;
                cursor: pointer;

                &::before{
                    content: "\ea13";
                    font-family: remixicon;
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    transform: translateY(-50%);
                }
            }
            i{
               position: absolute;
               top: 0;
               right: 0; 
            }
            .accordian-content{
                padding: 15px;
                border: 1px solid #cbcbcb;
                display: none;

                p{
                    font-size: 17px;
                }
            }
        }
    }
}
